*{
	margin:0;
	padding:0;
	font-family: 'Montserrat Alternates', sans-serif;
}

body{
	background:linear-gradient(#f7b617, whitesmoke);
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
}

.nav-bar{
	background-color: #f7b617;
	width: 100%;
	margin: 0;
	border: 3px solid black;
}

.nav-bar a{
	text-decoration: none;
	color: whitesmoke;
	font-size: 30px;
}

.nav-bar a:hover{
	color: black;
}

h1{
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: underline;
}

.parrTitulo{
	color: black;
	font-weight: bold; 
}


.container{
	width: 50%;
	border: 2px solid;
	margin-top: 48px;
	padding: 50px;
}

#boton{
	background-color: black;
	color: whitesmoke;
	border: 3px solid black;
	border-radius: 6px;
}

#boton:hover{
	color: #f7b617;
	cursor: pointer;
}

#tarea{
	background-color: transparent;
	margin-bottom: 10px;
	border: 3px solid black;
	border-radius: 6px;
}

h4{
	text-transform: uppercase;
	text-decoration: underline;
	color: black;
}

.work{
	display: inline;
}

.fa-trash-o{
	padding-left: 100px;
}

.fa-trash-o:hover{
	color: #f7b617;
	cursor: pointer;
}

#items a{
	color: black;
	font-weight: bold;
}

#items a:hover{
	text-decoration: none;
}